:root{
    --body-bg-color: #FFFFFF;
    --nav-text-color: #22343D;
    --register-text-color: #173A56;
    --bg-img-section2: url('../images/Bg.png');
    --bg-img-section3: url('../images/BgProcess.png');
    --bg-img-pricing: url('../pricing_images/bg.png');
}

.dark{
    --body-bg-color: #1F2E35;;
    --nav-text-color: #FFFFFF;
    --register-text-color: #FFFFFF;
    --bg-img-section2: url('../images/Bg2.png');
    --bg-img-section3: url('../images/BgProcess2.png');
    --bg-img-pricing: url('../pricing_images/bg-dark.png');
}

html {
	height: 100%;
	scroll-behavior: smooth;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	height: 100%;
	margin: 0;
	font-family: 'Arial', sans-serif;
    background-color: var(--body-bg-color);
}

main {
	flex-grow: 1;
}

img {
	vertical-align: middle;
	object-fit: cover;
}

a{
    text-decoration: none;
}

.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.container{
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}
/*===HEADER START===*/
.site-header {
    padding: 19px 0;
}

.site-header__inner {
    display: flex;
    align-items: center;
}

.site-nav__list {
    display: flex;
    margin: 0;
    padding: 0;
    margin-left: 210px;
    list-style-type: none;
}

.site-nav__item+.site-nav__item {
    margin-left: 35px;
}

.site-nav__link {
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: var(--nav-text-color);
    text-decoration: none;
}

.site-register {
    margin-left: 24px;
}

.site-register__link {
    display: inline-block;
    ;
    padding: 10px 22px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: var(--register-text-color);
    text-decoration: none;
    border: 1px solid #BCD0E5;
    border-radius: 4px;
    transition: all 0.4s ease;
}

.site-register__link:hover {
    color: #FFFFFF;
    background: #02897A;
    transition: all 0.4s ease;

}

.site-register__link+.site-register__link {
    margin-left: 24px;
}

.btn {
    padding: 0;
    border: none;
    background: transparent;
    margin-left: auto;
}

.menu-btn {
    display: none;
    border: none;
    background: transparent;
}

@media only screen and (max-width:576px) {

    .site-header{
        box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.25);
    }

    .site-nav,
    .site-register,
    .btn {
        display: none;
    }

    .menu-btn {
        display: block;
        margin-left: auto;
    }
}
/*===HEADER FINISH===*/


/*===MAIN SECTION START START===*/
.price-section{
    margin-top: 50px;
    margin-bottom: 150px;
}

.table-div{
    text-align: center;
}

.pricing__h2{
    margin: 0;
    margin-bottom: 32px;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: var(--nav-text-color);
}

.table__title{
    margin: 0;
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 34px;
    line-height: 51px;
    color: var(--nav-text-color);
}

.table__text{
    margin: 0;
    margin-bottom: 50px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--nav-text-color);
}

.price__list{
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.price__item{
    position: relative;
    text-align: center;
    padding: 24px 74px 32px;
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    transition: all 0.4s ease;
}

.price__item:hover{
    transition: all 0.4s ease;
    background: #02897A;
}

.price__item:hover .price__title{
    color: #FFFFFF;   
}

.price__item:hover .price__desc{
    color: #FFFFFF;
}

.price__item:hover .ins{
    color: #FFFFFF;
}

.price__item:hover .price__text{
    color: #FFFFFF;
}
.price__title{
    margin: 0;
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    color: #22343D;
}
.price__desc{
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    color: #22343D;
    padding-bottom: 100px;
}
.ins{
    position: absolute;
    font-weight: 700;
    font-size: 76px;
    line-height: 100px;
    text-align: center;
    letter-spacing: 0.2px;
    text-decoration: none;
    margin: 0;
    padding: 0;
    top: 100px;
    left: 80px;
    color: #02897A;
}
.ins__text{
    position: absolute;
    top: 160px;
    left: 130px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.1px;
    color: #AFAFAF;
    padding: 0;
    margin: 0;
}

.ins__text2{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.1px;
    color: #AFAFAF;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 160px;
    left: 165px;
}

.ins__text::before{
    content: "$";
    width: 16px;
    height: 29px;
    display: inline-block;
    position: absolute;
    font-size: 30px;
    font-weight: 800;
    top: -30px;
    left: 0px;
    color: #02897A;
}

.price__item:hover .ins__text::before{
    color: #FFF;
}

.price__text{
    margin: 0;
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.2px;
    color: #22343D;
}

.price__text2{
    margin: 0;
    margin-bottom: 38px;
}

.price__link{
    padding: 11px 18px;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    background: #02897A;
    border-radius: 8px;
    text-decoration: none;
}

.price__item:hover .price__link{
    color: #02897A;
    background: #FFFFFF;
}

@media only screen and (max-width:576px) {

    .table-div{
        width: 100%;
        max-width: 352px;
        margin: auto;
    }

    .price__list{
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 322px;
        margin: auto;
    }

    .price__item{
        margin-bottom: 32px;
    }
}
/*===MAIN SECTION PRICE FINISH===*/

/*===MAIN SECTION EXPENSIVE START===*/
.expensive-section{
    margin-bottom: 150px;
    background-image: var(--bg-img-pricing);
}

.expensive__inner{
    padding: 52px 0 52px;
    text-align: center;
}

.expensive__title{
    margin: 0;
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: var(--nav-text-color);
}

.expensive__strong{
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 34px;
    line-height: 51px;
    color: var(--nav-text-color);
}

.expensive__text{
    margin: 0;
    margin-bottom: 32px;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: var(--nav-text-color);
}

.expensive__link{
    display: inline-block;
    padding: 11px 18px;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF; 
    background: #02897A;
    border-radius: 8px;   
}
/*===MAIN SECTION EXPENSIVE FINISH===*/

/*===SERVICE SECTION START===*/
.service-section{
    margin-bottom: 150px;

}

.services__inner{
    position: relative;
}

.services__bg{
    display: inline-block;
    width: 100%;
    max-width: 528px;
    height: 393px;
    background-image: url('../pricing_images/amico.png');
    background-repeat: no-repeat;
    position: absolute;
    top: 130px;
}

.services__title{
    margin: 0;
    margin-bottom: 55px;
    text-align: center;
    font-weight: 700;
    font-size: 34px;
    line-height: 51px;
    color: var(--nav-text-color);
    
}

.system-div{
    position: relative;
    width: 485px;
    margin-left: auto;
}

.system__title{
    display: inline-block;
    margin: 0;
    margin-bottom: 23px;
    margin-left: 64px;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: var(--nav-text-color);  
}

.system__title::before{
    content: '';
    width: 50px;
    height: 50px;
    position: absolute;
    top: -5px;
    left: 0px;
    background-image: url('../pricing_icons/Feature.svg');
}

.system__title2::before{
    content: '';
    width: 50px;
    height: 50px;
    position: absolute;
    background-image: url('../pricing_icons/Feature2.svg');
}

.system__title3::before{
    content: '';
    width: 50px;
    height: 50px;
    position: absolute;
    background-image: url('../pricing_icons/Feature3.svg');
}

.system__text{
    margin: 0;
    margin-bottom: 39px;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: var(--nav-text-color);    
}

@media only screen and (max-width:576px) {
    .service-section{
        flex-direction: column;
        background-image: url(../images/account_image.png);
        background-repeat: no-repeat;
        background-position: center top 175px;

    }

    .services__title{
        padding-bottom: 360px;
        width: 100%;
        max-width: 342px;
        margin: auto;
    }

    .services__bg{
        display: none;
    }

    .system-div{
        width: 100%;
        max-width: 333px;
        margin-right: 175px;
    }

}
/*===SERVICE SECTION FINISH===*/

/*===MAIN SECTION 7 FINISH===*/
.boost-span {
    display: block;
    margin: 0 auto;
    margin-bottom: 154px;
    padding: 50px;
    width: 100%;
    max-width: 968px;
    height: 345px;
    background: #02897A;
    border-radius: 32px;
    background-image: url('../images/screen.png');
    background-repeat: no-repeat;
    background-position: right top;
}


.boost__inner {
    max-width: 495px;
    
}

.boost__text {
    margin: 0;
    font-weight: 600;
    font-size: 32px;
    line-height: 151.4%;
    color: #FFFFFF;
    margin-bottom: 50px;
}


.boost__link {
    display: inline-block;
    padding: 13px 34px 7px;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #02897A;
    background: #FFFFFF;
    border-radius: 8px;
    text-decoration: none;

}

@media only screen and (max-width:576px) {
    .boost-span {
        margin-bottom: 0;
        padding: 0;
        width: 100%;
        max-width: 371px;
        height: 688px;
        justify-content: center;
        background-position: bottom center;
    }

    .boost__inner {
        
        padding-bottom: 380px;
    }

    .boost__text {
        margin: 0 auto 50px;
        padding-top: 17px;
        max-width: 328px;
        text-align: center;
    }

    .boost__link {
        display: block;
        max-width: 150px;
        margin: 0 auto;
    }

}

/*===QUESTIONS SECTION START===*/
.question-section{
    margin-bottom: 150px;
}

.question__title{
    margin: 0;
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 34px;
    line-height: 51px;
    color: var(--nav-text-color);
}
.question__dash{
    margin: 0;
    margin-bottom: 50px;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: var(--nav-text-color);
}

.questions__div{
    position: relative;
}
.questions__text{
    margin-left: 40px;
    margin-bottom: 22px;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color:var(--nav-text-color);
}

.questions__text2{
    margin: 0;
    margin-top: 16px;
    margin-left: 40px;
    margin-bottom: 22px;
}

.questions__text::before{
    content: '';
    width: 24px;
    height: 24px;
    position: absolute;
    top: 0px;
    left: 0px;
    background-image: url('../pricing_icons/plus_circle.svg');
    background-repeat: no-repeat;
}

.questions__text2::before{
    content: '';
    width: 24px;
    height: 24px;
    position: absolute;
    top: 0px;
    left: 0px;
    background-image: url('../pricing_icons/minus_circle.svg');
    background-repeat: no-repeat;
}


.question__small{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--nav-text-color);
}
.questions__span{
    display: inline-block;
    width: 100%;
    border: 1px solid #E7E7E7;
}

@media only screen and (max-width:576px) {
    .question__title, .question__dash{
        text-align: center;
    }
}
/*===QUESTIONS SECTION FINISH===*/

/*===FOOTER START===*/
.footer__inner{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 16px;
}

.network-div{
    margin-top: 28px;
}

.network__link{
    margin-left: 16px;
}

.resource__list{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.resources__strong{
    color: var(--nav-text-color);
}

.resource__link{
    display: inline-block;
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 35px;
    color: var(--nav-text-color);
}

.legal__list{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.legal__strong{
    color: var(--nav-text-color);
}
.legal__link{
    display: inline-block;
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 35px;
    color: var(--nav-text-color);
}

.register-div{
    margin-right: 55px;
    width: 225px;
}

.register__text{
    display: inline-block;
    margin-bottom: 34px;
    color: var(--nav-text-color);
}

input{
    width: 280px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #BCD0E5;
    border-radius: 4px;
}

.register__btn{
    margin-top: 21px;
    padding: 8px 15px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    background: #02897A;
    border-radius: 4px;
    border: none;
}

.footer__small{

    margin-left: 340px;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: var(--nav-text-color);
}


@media only screen and (max-width:576px) {
    .footer__inner {
        margin-top: 100px;
        flex-direction: column;
    }

    .logo__div,
    .network-div,
    .resource-div,
    .legal-div,
    .register-div {
        margin: 0 auto;
    }

    .network-div {
        margin: 29px 0 32px;
    }

    .resource-div {
        margin-bottom: 32px;
    }

    .resource__item,
    .legal__item {
        text-align: center;
    }

    .legal-div {
        margin-bottom: 32px;
    }

    .register__text {
        text-align: center;
    }

    input {
        display: block;
        margin-left: -26px;
    }

    .register__btn {
        display: block;
        width: 131px;
        margin: 21px auto 0px;
    }

    .footer__small {
        display: block;
        width: 100%;
        max-width: 361px;
        margin: 44px auto  45px;
    }
} 
/*===FOOTER FINISH===*/


